.DS_Store

.idea
.vscode

**/node_modules
npm-debug.log
yarn-error.log

dist
dist-ssr

.vit
.mfsu
.umi
.tmp
.umi-production
.umi-test

.wxt
.output

*.log
logs
*.local

dist/
dist-electron/
deploy_versions/

.temp/
.rn_temp/
.swc/

.env
.next

linshi/*
